.body-cart {
    background: #fff;
    min-width: 400px;
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    top: calc(100% + 10px);
    right: -20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0);
    transform-origin: 90% 0;
    transition: all 0.2s ease;
    min-height: 350px;
}

.body-cart.show {
    transform: scale(1);
}

#cart {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-item {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 10px;
}

.body-cart .remove-item i {
    font-size: 14px;
}
